@model AppMulte.Models.Multa

<div>
    <h4>Dettagli Multa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">ID Multa</dt>
        <dd class="col-sm-10">@Model.IDMulta</dd>

        <dt class="col-sm-2">ID Anagrafica</dt>
        <dd class="col-sm-10">@Model.IDAnagrafica</dd>

        <dt class="col-sm-2">ID Verbale</dt>
        <dd class="col-sm-10">@Model.IDVerbale</dd>

        <dt class="col-sm-2">ID Violazione</dt>
        <dd class="col-sm-10">@Model.IDViolazione</dd>
    </dl>
    <div>
        <button type="button" class="btn btn-warning">
            <a href="@Url.Action("Edit", new { id = Model.IDMulta })" class="btn btn-link custom-link p-0">Modifica</a>
        </button>

        <button type="button" class="btn btn-success">
            <a href="@Url.Action("Index")" class="btn btn-link custom-link p-0">Torna alla Lista</a>
        </button>
    </div>
</div>


<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>