@model AppMulte.Models.Anagrafica

<h2>Dettagli Anagrafica</h2>

<div>
    <h4>Cognome: @Model.Cognome</h4>
    <h4>Nome: @Model.Nome</h4>
    <h4>Indirizzo: @Model.Indirizzo</h4>
    <h4>Città: @Model.Citta</h4>
    <h4>CAP: @Model.CAP</h4>
    <h4>Codice Fiscale: @Model.Cod_Fisc</h4>
</div>
<p>
    <button type="button" class="btn btn-warning">
        <a href="@Url.Action("Edit", new { id = Model.IDAnagrafica })" class="btn btn-link custom-link p-0">Modifica</a>
    </button>

    <button type="button" class="btn btn-success">
        <a href="@Url.Action("Index")" class="btn btn-link custom-link p-0">Torna alla Lista</a>
    </button>
</p>


<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>
