@model IEnumerable<AppMulte.Models.Anagrafica>

<div class="d-flex">
    <h2>Anagrafica</h2>
    <button type="button" class="btn btn-info ms-5 p-0 pe-2 ps-2">
        <a href="@Url.Action("Create")" class="btn btn-link custom-link p-0">Inserisci i dati anagrafici</a>
    </button>
</div>

<table class="table">
    <tr>
        <th>Cognome</th>
        <th>Nome</th>
        <th>Indirizzo</th>
        <th>Città</th>
        <th>CAP</th>
        <th>Codice Fiscale</th>
        <th></th>
    </tr>

    @foreach (var persona in Model)
    {
        <tr>
            <td>@persona.Cognome</td>
            <td>@persona.Nome</td>
            <td>@persona.Indirizzo</td>
            <td>@persona.Citta</td>
            <td>@persona.CAP</td>
            <td>@persona.Cod_Fisc</td>
            <td>
                <button type="button" class="btn btn-warning">
                    <a href="@Url.Action("Edit", new { id = persona.IDAnagrafica })" class="btn btn-link custom-link p-0">Modifica</a>
                </button>
                <button type="button" class="btn btn-success">
                    <a href="@Url.Action("Details", new { id = persona.IDAnagrafica })" class="btn btn-link custom-link p-0">Dettagli</a>
                </button>
            </td>
        </tr>
    }
</table>



<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>