@model IEnumerable<AppMulte.Models.Verbale>

<div class="d-flex">
    <h2>Elenco Verbali</h2>
    <button type="button" class="btn btn-info ms-5 p-0 pe-2 ps-2">
        <a href="@Url.Action("Create")" class="btn btn-link custom-link p-0">Inserisci un nuovo verbale</a>
    </button>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Data Violazione</th>
            <th>Indirizzo Violazione</th>
            <th>ID Agente</th>
            <th>Data Trascrizione Verbale</th>
            <th>Importo</th>
            <th>Decurtamento Punti</th>
            <th>Azioni</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var verbale in Model)
        {
            <tr>
                <td>@verbale.DataViolazione</td>
                <td>@verbale.IndirizzoViolazione</td>
                <td>@verbale.IDAgente</td>
                <td>@verbale.DataTrascrizioneVerbale</td>
                <td>@verbale.Importo</td>
                <td>@verbale.DecurtamentoPunti</td>
                <td>
                    <button type="button" class="btn btn-warning">
                        <a href="@Url.Action("Edit", new { id = verbale.IDVerbale })" class="btn btn-link custom-link p-0">Modifica</a>
                    </button>
                    <button type="button" class="btn btn-success">
                        <a href="@Url.Action("Details", new { id = verbale.IDVerbale })" class="btn btn-link custom-link p-0">Dettagli</a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>


<style>

    .custom-link {
        text-decoration: none;
        color: black;
    }

</style>