@model IEnumerable<AppMulte.Models.Agente>

<div class="d-flex">
    <h2>Agenti</h2>
    <button type="button" class="btn btn-info ms-5 p-0 pe-2 ps-2">
        <a href="@Url.Action("Create")" class="btn btn-link custom-link p-0">Inserisci un nuovo Agente</a>
    </button>
</div>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Cognome</th>
        <th></th>
    </tr>

    @foreach (var agente in Model)
    {
        <tr>
            <td>@agente.NomeAgente</td>
            <td>@agente.CognomeAgente</td>
            <td>
                <button type="button" class="btn btn-warning">
                    <a href="@Url.Action("Edit", new { id = agente.IDAgente })" class="btn btn-link custom-link p-0">Modifica</a>
                </button>
                <button type="button" class="btn btn-success">
                    <a href="@Url.Action("Details", new { id = agente.IDAgente })" class="btn btn-link custom-link p-0">Dettagli</a>
                </button>
            </td>
        </tr>
    }
</table>



<style>

    .custom-link {
        text-decoration: none;
    }

    .custom-link {
        color: black;
    }
</style>

